nav {
    & a {
        display: block;

    }
    .topmenu {
        & li {
            display: inline-block;
            position: relative;
        }
    }
    .submenu {
        font-size: 1em;
        line-height: 2;
    }
    .submenu {
        background:  rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        // border: 6px solid #003559;
        // text-align: start;
        position: absolute;
        right: 0px;
        margin-top: 10px;
        visibility: hidden;
        opacity: 0;
        z-index: 5;
        width: 370px;
        transform: perspective(600px) rotateX(-90deg);
        transform-origin: 0% 0%;
        transition: .6s ease-in-out;

        @media (max-width: 426px) {
            margin-top: 20px;
        }
    }
    .topmenu > li:hover .submenu {
        
        visibility: visible;
        opacity: 1;
        transform: perspective(600px) rotateX(0deg);
        list-style-type: disc;
    }


    li {
        font-size: 22px;
        color: $color-primary-2;
    
        &:hover {
            background-color: $color-secondary-a-1;
            color: #fff;line-height: 2;
        }
    }
}